{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="page-header">
  <h1>Remove Ice Cream?</h1>
  <img src="{% static 'images/icecreamPic.jpg' %}" alt="ice cream"/>
</div>
<h2>Are you sure you want to delete {{ icecream.name }}?</h2>

<form action="" method="POST" class="form">
  {% csrf_token %}
  <a 
    href="{% url 'iceCream_detail' icecream.id %}" 
    class="btn secondary"
  >
    Cancel
  </a>
  <button type="submit" class="btn danger">Yes - Delete!</button>
</form>

{% endblock %}