{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/iceCream/iceCream-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>All Ice Cream Flavors</h1>
  <img src="{% static 'images/vanilla.jpeg' %}" alt="vanilla" />
  <img src="{% static 'images/choco.jpeg' %}" alt="chocolate" />
  <img src="{% static 'images/purple.jpeg' %}" alt="ube" />
  <img src="{% static 'images/green.jpeg' %}" alt="green tea" />
</section>

<section class="card-container">
  {% for iceCream in icecream_list %}
  <div class="card">
    <div class="card-bg"></div>
    <a href="{% url 'iceCream_detail' iceCream.id %}">
      <div class="card-content">
        <h2>{{ iceCream.brand }}</h2>
        <p>{{ iceCream.flavor }}</p>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}