{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/cookies/cookie-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="card-container">
    <div class="cat-img">
            <img 
            src="{% static 'images/'|add:cookie.name|add:'.png' %}" 
            alt="A cookie"
            >
          </div>
          <div class="cat-details">
            <h1>{{ cookie.name }}</h1>
            <p>{{cookie.description}}</p>
            <p> {{cookie.flavor}}</p>
            <p>Quantity: {{ cookie.quantity }} left</p>
          </div>
</section>

{% endblock %}