{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/cookies/cookie-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="card-container">
  <div class="cat-img">
    <img 
      src="{% static 'images/'|add:cookie.name|add:'.png' %}" 
      alt="A cookie"
    >
  </div>
    <div class="cat-details">
      <h1>{{ cookie.name }}</h1>
      <p>{{cookie.description}}</p>
      <p> {{cookie.flavor}}</p>
      <p>Quantity: {{ cookie.quantity }} left</p>
      <div class="cat-actions">
        <a href="{% url 'cookies_update' cookie.id %}" class="btn warn">Edit</a>
        <a href="{% url 'cookies_delete' cookie.id %}" class="btn danger">Delete</a>
      </div>
    </div>
</section>

{% endblock %}