{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/cookies/cookie-detail.css' %}"
/>
<script defer src="{% static 'js/cookie-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="card-container">
  <div class="cat-img">
    <img 
      src="{% static 'images/'|add:cookie.name|add:'.png' %}" 
      alt="A cookie"
    >
  </div>
    <div class="cat-details">
      <h1>{{ cookie.name }}</h1>
      <p>{{cookie.description}}</p>
      <p> {{cookie.flavor}}</p>
      <p>Quantity: {{ cookie.quantity }} left</p>
      <div class="cat-actions">
        <a href="{% url 'cookies_update' cookie.id %}" class="btn warn">Edit</a>
        <a href="{% url 'cookies_delete' cookie.id %}" class="btn danger">Delete</a>
      </div>
    </div>
</section>
<div class="feedings-toy-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Reviews</h2>
      <img 
      src="{% static 'images/kitkat.png' %}" 
      alt="kitkat"
      />
      <img src="{% static 'images/mandms.png' %}" 
      alt="m and m's"
      />
      <img src="{% static 'images/sourpatch.png' %}" 
      alt="sourpath kids"
      />
    </div>
    <h3>Leave a Review!</h3>
    <form 
      action="{% url 'add_review' cookie.id %}"
      method="post"
      class="subsection-content"
    >
      {% csrf_token %}
      {{review_form.as_p}}
      <button type="submit" class="btn submit">Add a Review</button>
    </form>
    <h3>Past Reviews</h3>
    {% if cookie.review_set.all.count %}
    <table>
      <thead>
        <tr><th>Date</th><th>Review</th></tr>
      </thead>
      <tbody>
        {% for review in cookie.review_set.all %}
        <tr>
          <td>{{review.date}}</td>
          <td>{{review.get_review_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="subsection-content">
      <p>{{cookie.name}} doesn't have a review yet!</p>
    </div>
    {% endif %}
  </section>
  <section class="toys">
    <div class="subsection-title">
      <h2>Ice Cream</h2>
      <img src="{% static 'images/vanilla.jpeg' %}" alt="vanilla" />
      <img src="{% static 'images/choco.jpeg' %}" alt="chocolate" />
      <img src="{% static 'images/purple.jpeg' %}" alt="ube" />
    </div>
    <h3>{{ icecream.name }}</h3>
    <div class="subsection-content">
      {% if cookie.iceCream.count %}
        {% for iceCream in cookie.iceCream.all %}
          <div class="toy-container">
            <div 
              class="color-block"></div>
            <a href="{% url 'iceCream_detail' iceCream.id %}">
              <p>A {{ iceCream.name }} {{ iceCream.flavor }}</p>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-toys">You haven't added any ice cream to your {{cookie.name}} yet!</p>
      {% endif %}
    </div>
    <h3>Available Flavors</h3>
    <div class="subsection-content">
      {% if iceCream.count %}
        {% for iceCream in iceCream.all %}
        <div class="toy-container">
            <div 
              class="color-block"></div>
            <a href="{% url 'iceCream_detail' iceCream.id %}">
              <p>{{ iceCream.flavor }} {{ iceCream.name }}</p>
            </a>
            <form action="{% url 'assoc_iceCream' cookie.id iceCream.id%}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn submit">Add to cookie!</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p class="all-toys">
          {{cookie.name}} already has all the available toys 🥳
        </p>
      {% endif %}
    </div>
  </section>
</div>
</div>

{% endblock %}